# Translating Basic Excel to Python

## Importing

In [1]:
import pandas as pd

## Read Excel File and Assign to Variable Named `df`

In [2]:
df = pd.read_excel("https://raw.githubusercontent.com/sadams26/excel_to_python/main/data/AB_NYC_2019.xlsx")

## View First Five Rows with `head`

In [3]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is Brooklyn

In [4]:
df.loc[df["neighbourhood_group"]=="Brooklyn", :]

             id  ... availability_365
0          2539  ...              365
3          3831  ...              194
6          5121  ...                0
12         5803  ...              314
15         6848  ...               46
...         ...  ...              ...
48882  36482231  ...               31
48884  36482783  ...              341
48887  36483152  ...              365
48890  36484665  ...                9
48891  36485057  ...               36

[20104 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is Brooklyn or Manhattan

In [5]:
df.loc[df["neighbourhood_group"].isin(["Brooklyn", "Manhattan"]), :]

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[41765 rows x 16 columns]

## Display All Rows Where the Neighbourhood Group is **NOT** Brooklyn

In [6]:
df.loc[df["neighbourhood_group"]!="Brooklyn", :]

             id  ... availability_365
1          2595  ...              355
2          3647  ...              365
4          5022  ...                0
5          5099  ...              129
7          5178  ...              220
...         ...  ...              ...
48888  36484087  ...               31
48889  36484363  ...              163
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[28791 rows x 16 columns]

## Output the Mean Price

In [7]:
df["price"].mean()

152.7206871868289

## Create a Pivot Table

In [9]:
pd.pivot_table(df, values="price", index="neighbourhood_group", aggfunc='mean')

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332